<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="inventarioEntities" connectionString="metadata=res://*/inventarioEntities.csdl|res://*/inventarioEntities.ssdl|res://*/inventarioEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DIEGO-PC\INVENTARIO;initial catalog=inventario;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>